.main-header {
  height: 60px;
  width: 100vw;
  background-color: rgba(237,234,237,0.3);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-left {
  width: 33vw;
}

.flrps-icon {
  height: 40px;
  margin: 10px 20px;
}

.nav-center {
  height: 40px;
  line-height: 30px;
  width: auto;
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  margin: 5px 0 15px 0;
  color: white;
  font-size: 14px;
}

.nav-name {
  font-size: 20px;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.nav-right {
  width: 33vw;
  padding: 20px 30px 20px 0 ;
}

.header-lists {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-btn {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-size: 20px;
}

.new-post {
  text-decoration: none;
  color: black;
  margin-right: 20px;
  font-size: 20px;
}

.second-header {
  height: 160px;
  background-color: lightgray;
  padding: 30px 0 50px;
  display: flex;
  justify-content: center;
}

.flrps-icon-3 {
  height: 80px;
}

.footer {
  height: 40px;
  width: 100vw;
  background-image: image-url("banner-1.jpg");
  color:white;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.footer p {
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
}

.flrps-icon-2 {
  height: 20px;
  margin: 10px;
}