// ヘッダー
.header-icon {
  height: 20vh;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flrps-icon-3 {
  height: 80px;
}

// //ヘッダー

// フッター

.footer {
  height: 40px;
  width: 100vw;
  background-image: image-url("banner-1.jpg");
  color:white;
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.footer p {
  text-align: center;
  line-height: 40px;
  margin-right: 20px;
}

.flrps-icon-2 {
  height: 20px;
  margin: 10px;
}

// //フッター