.side-bar {
  width: 30vw;
  margin-top: 1.5vh;
  position: sticky;
  top: 0;
}

.side-header {
  height: 10vh;
  width: 22vw;
  margin-left: 6vw;
  display: flex;
  justify-content: center;
}

.flrps-icon {
  max-height: 8vh;
  border-radius: 5px;
}

.side-box {
  height: 675px;
  width: 22vw;
  background-color: rgba(255,255,255,0.5);
  padding-bottom: 10px;
  margin-left: 6vw;
  border: 1px solid darkgray;
  border-radius: 10px;
  overflow: scroll;
}

/* ユーザーインフォ */
.user-nav-top {
  display: flex;
  border-bottom: 1px solid black;
  font-weight: bold;
  margin: 10px 10px 0;
}

.user-nav-name {
  font-weight: bold;
  margin-left: 10px;
  overflow-x: scroll;
}

.user-nav {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  margin: 0 10px;
}

.user-nav-lists {
  display: flex;
  justify-content: space-around;
}

.nav-btn {
  width: 100%;
  background-color: rgba(220,20,60,0.9);
  padding: 7px 20px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.my-page-btn {
  width: 100%;
  background-color: rgba(65,105,225,0.9);
  padding: 7px 10px;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.new-post-btn {
  width: 100%;
  background-color: rgba(127,255,212,0.9);
  padding: 7px 15px;
  border-radius: 20px;
  color: black;
  font-weight: bold;
  font-size: 16px;
}
/* /ユーザーインフォ */

/* 絞り込みフォーム */
.search-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.search-nav-top {
  border-bottom: 1px solid black;
  margin: 10px 10px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-nav-name {
  font-weight: bold;
}

.reset-btn {
  font-size: 6px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 7px 0;
  background-color: rgba(0,0,0,0.7);
}

.reset-mark {
  font-size: 12px;
}

.search-nav-main {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.search-content {
  display: inline-block;
}

.select-box {
  display: inline-block;
  margin-bottom: 20px;
}

.search-label {
  height: 4vh;
  line-height: 4vh;
  padding: 0 10px;
  border: none;
  margin-bottom: 10px;
  background-color: rgba(0,0,205,0.5);
  color: white;
}

.search-select-1 {
  width: 100%;
  height: 4vh;
  padding: auto;
  border-radius: 0px;
  border: 1px solid silver;
}

.search-select-2 {
  width: 49%;
  height: 4vh;
  padding: auto;
  border-radius: 0px;
  border: 1px solid silver;
}

.search-select-3 {
  width: 46%;
  height: 4vh;
  padding-left: 5px;
  border: 1px solid silver;
  border-radius: 0px;
}

.search-act {
  display: flex;
  justify-content: center;
}

.search-btn {
  width: 80%;
  height: 5vh;
  border-radius: 5px;
  padding: auto;
  color: rgba(50,0,205,1);
  font-weight: bold;
  background-color: skyblue;
}
/* /絞り込みフォーム */

.sign-out-action {
  display: flex;
  justify-content: center;
  margin: 20px 0 0;
}

.sign-out-btn {
  color: black;
  background: none;
  border: none;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

/* マイページ用 */
.my-side-bar {
  width: 30vw;
  margin-top: 3vh;
  position: sticky;
  top: 0;
}

/* リセットボタン */
.search-reset-btn {
  font-size: 6px;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 7px 0;
  background-color: rgba(0,0,0,0.7);
}
/* /リセットボタン */

/* /マイページ用 */