<%= render "shared/header" %>

<div class="overall">

  <div class="index-page">
    <h1><%= @user.name %> さんの投稿一覧</h1>

    <div class="posts">
      <% @posts.each do |post| %>
        <%= render partial: "posts/posts", locals: { post: post } %>
      <% end %>
    </div>

  </div>

<%= render "shared/footer" %>
</div>