<% if model.errors.any? %>
<div class="error-alert">
  <ul class="error-list">
    <% model.errors.full_messages.each do |message| %>
    <li class='error-message'><i><%= message %></i></li>
    <% end %>
  </ul>
</div>
<% end %>