<div class="search">
  <%= search_form_for @q, id: "search-form" do |f| %>
    <%= f.label "絞り込み" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {prompt: '指定なし'}, {id:"search-content"})%>
    <%= f.submit "検索", id: "search-btn" %>
  <% end %>
</div>