<div class="overall">
  <%= render "shared/header" %>
  
  <div class="main">
    <%# <%= render "shared/left_side" %>
    <div class="posts">
    </div>
    <%# <%= render "shared/right_side" %>
  </div>

  <%= render "shared/footer" %>
</div>
