.user-form-main {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0 0 20px;
}

.sign-up-page {
  width: 50vw;
  text-align: center;
  background-color: rgba(255,255,255,0.7);
  border-radius: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.page-title {
  font-size: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
}

/* 入力フォーム */
.user-form {
  padding-top: 10px;
}

.form-group {
  padding: 10px 30px;
  display: flex;
}

.label-part {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-name {
  text-decoration: underline;
}

.password-wraper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-label {
  width: 220px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  text-decoration: underline;
}

.required {
  width: 30px;
  height: 16px;
  border: none;
  background-color: darkgray;
  color: white;
  font-size: 8px;
  margin-right: 20px;
}

.attach-label {
  font-size: 12px;
}

.users-text {
  width: calc(100% - 200px - 30px);
  height: 40px;
  padding: 2px 10px;
  border: 1px solid silver;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.profile {
  width: calc(100% - 200px - 30px);
  height: 120px;
  padding: 5px 10px;
  border: 1px solid silver;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

.gender-field {
  padding: 0 30px 10px;
  display: flex;
}

.gender-name {
  font-weight: bold;
}

.gender-man {
  padding-right: 10px;
}

.gender-woman {
  padding-left: 10px;
}
/* //入力フォーム */

/* ボタン */
.actions {
  margin: 20px 0 0;
}

/* 登録 */
.u_form_btn {
  width: 80%;
  background-color: navy;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 10px;
}

/* 変更 */
.e_form_btn {
  width: 80%;
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

/* 戻る */
.form-back-btn {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  background-color: rgba(0,0,0,0.5);
  padding: 5px 20px;
  border-radius: 5px;
  border: none;
}