.field {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-up-page {
  width: 50vw;
  text-align: center;
  height: 100%;
  background-color: white;
  border-radius: 30px;
  margin-bottom: 50px;
  padding: 20px;
}

.page-title {
  font-size: 30px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-bottom: 20px;
  border-bottom: 1px solid lightgray;
}

.user-form {
  padding-top: 20px;
}

.form-group {
  padding: 10px 30px;
  display: flex;
}

.gender-field {
  padding: 10px 30px;
  display: flex;
}

.label-part {
  width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-name {
  text-decoration: underline;
}

.profile-label {
  width: 220px;
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
  text-decoration: underline;
}

.required {
  width: 30px;
  height: 16px;
  border: none;
  background-color: darkgray;
  color: white;
  font-size: 8px;
  margin-right: 20px;
}

.users-text {
  width: calc(100% - 200px - 30px);
  height: 40px;
  border: 1px solid linen;
  border-radius: 4px;
  font-size: 16px;
}

.profile {
  width: calc(100% - 200px - 30px);
  height: 120px;
  border: 1px solid linen;
  border-radius: 4px;
  font-size: 16px;
}

.gender-man {
  padding-right: 10px;
}

.gender-woman {
  padding-left: 10px;
}

.actions {
  margin: 20px 0 20px;
}

.u_form_btn {
  background-color: navy;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.e_form_btn {
  background-color: red;
  color: white;
  font-weight: bold;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
}