.post-content-main {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
}

.post-content {
  width: 70vw;
  height: auto;
  background-color: white;
  border: none;
  border-radius: 10px;
  margin: 20px 0;
}

.post-content-title {
  text-align: center;
  border-bottom: 1px solid lightgray;
  margin: 20px;
  padding-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}