.post-show-page {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.post-show-contents {
  display: block;
}

.post-show {
  width: 50vw;
  background-color: rgba(255,255,255,0.5);
  height: auto;
  border: 1px solid darkgray;
  border-radius: 10px;
  padding: 20px;
}